body {
  background: url("../../images/sky.jpg") no-repeat center center;
  background-size: cover;
}

.row-container {
  background-color: aliceblue;
  width: 500px;
  min-width: 50%;
  min-height: 50%;
}
